<div class="heading-top">
    <span class="title">
        权限管理
    </span>
</div>

<div class="search-bar clearfix">
    <div class="float-left">
        <button class="btn btn-primary" type="button">添加角色</button>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>名称</th>
        <th>角色类型</th>
        <th>电话</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of [0,1,2,3,4]">
        <td>释迦摩尼</td>
        <td>管理员</td>
        <td>1777****046</td>
        <td>启用</td>
        <td>
            <a routerLink="1">查看</a>
        </td>
    </tr>
    </tbody>
</table>
