<div class="heading-top">
    <a class="go-back" ngyGoBack><i class="icon">&#xe61d;</i></a>
    <span class="title">
        添加员工
    </span>
</div>
<form class="p-5">
    <div class="form-group row">
        <label class="col-2 col-form-label">登录账号：</label>
        <div class="col-5">
            <input type="email" class="form-control" placeholder="登录账号" value="465716992@qq.com" readonly>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">手机号码：</label>
        <div class="col-5">
            <input type="email" class="form-control" placeholder="手机号码" value="177****5046" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-5 offset-2">
            <button class="btn btn-primary" type="button" (click)="add()">添加员工</button>
        </div>
    </div>
</form>
