<div class="heading-top">
    <span class="title">
        合同管理
    </span>
</div>

<div class="search-bar clearfix">
    <div class="float-left">
        <button class="btn btn-primary" type="button">下载模板</button>
        <button class="btn btn-primary" type="button">导入合同</button>
        <button class="btn btn-primary" type="button">添加合同</button>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>名称</th>
        <th>签订人</th>
        <th>授权人</th>
        <th>时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of [0,1,2,3,4]">
        <td>合同</td>
        <td>释迦摩尼</td>
        <td>弥勒佛</td>
        <td>2017-25-08</td>
        <td>申请修改</td>
        <td>
            <a routerLink="1">查看</a>
            <a href="javascript:void 0">记入</a>
        </td>
    </tr>
    </tbody>
</table>
