<div class="heading-top">
    <span class="title">
        客户资料
    </span>
</div>

<div class="search-bar clearfix">
    <div class="float-left">
        <button class="btn btn-primary" type="button" (click)="add()">添加客户</button>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>名称</th>
        <th>电话</th>
        <th>地址</th>
        <th>性别</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of [0,1,2,3,4]">
        <td>释迦摩尼</td>
        <td>1777****046</td>
        <td>上海徐汇漕河泾</td>
        <td>男</td>
        <td>
            <a routerLink="1">查看</a>
        </td>
    </tr>
    </tbody>
</table>
